{% extends 'base.html.twig' %}

{% block title %}Edit Backlog{% endblock %}

{% block body %}
    <h1>Edit Backlog</h1>

    {{ include('backlog/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('backlog_index') }}">back to list</a>

    {{ include('backlog/_delete_form.html.twig') }}
{% endblock %}
