{% extends 'base.html.twig' %}

{% block title %}New Backlog{% endblock %}

{% block body %}
    <h1>Create new Backlog</h1>

    {{ include('backlog/_form.html.twig') }}

    <a href="{{ path('backlog_index') }}">back to list</a>
{% endblock %}
